*{
    padding: 0%;
    font-family: Arial;
    color: white;
}


body{
    background-color: oklab(0.33 -0.01 -0.04); 
    overflow-y:scroll;
}

.logo img{
    float: left;
    height: 90px;
    width: 90px;

}

.logo img:hover{
    transform: scale(0.9);
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 100px;
}

  li {
    padding: 10px;
    
}

li:hover{
    width: 150px;
    cursor:pointer;
     border-bottom: 1px solid orange;
    
}

li a:hover{
    color: orange;
} 

li i:hover{
    color: orange;
}
a{
    text-decoration: none;
    color:white;
}



li a img{
    height: 24px;
    width: 24px;
    padding-right: 10px;
    color: white;
}



.background img{
    float: right;
    width: 80%;
    height: 400px;
    
  

}
.login a img{
    float: right;
    
    position: absolute;
    margin-left: 95%;
  
}

h2{
    font-size: 25px;
    color: rgb(237, 149, 17);
    text-align: center;
    position: absolute;
    top:40%;
   margin-left: 40%;
   
}

h3{
   font-size: 12px;
   color: white;
   text-align: center;
   position: absolute;
   top: 48%;
   margin-left: 70%;

}

.searchbar .btn{
    height:43px;
    width:400px;
    border-radius: 10px;
    text-align: left ;
    position: absolute;
    opacity: 30%;
    top: 58%;
    margin-left: 35%;
    
   
    
}

::placeholder{
    color:black;
    opacity: 100%;
    text-align: start;
  
}

.searchbar i{
    top:60%;
    margin-left:64%;
    position: absolute;
    color: silver;
}
.login i{
    float: right;
    padding: 10px;
    position: absolute;
    margin-left: 85%;
    color: orange;
    height: 80px;
    width: 80px;
}

.login i:hover{
 transform: scale(0.9);
}
 
.camera{
    font-size: 30px;
    margin-left: 45%;
    margin-top: 15px;
}

.top1{
    font-size: 11px;
    float: left;
    margin-left: 7px;
    margin-top: -10px;
}





  .profile {
   position: relative;
  }

  .profile_picture{
    position: absolute;
    width: 0.1px;
    height:0.1px;
   opacity: 0;
    overflow:hidden;
    z-index: -1;
    border:2px solid #fff;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
  }


  .upload-label {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

.upload-label:hover {
    background-color: #0056b3;
}

.filename {
    margin-top: 10px;
    display: block;
}


.navbar{
    height: 60px;
    width: 100%;
    color: rgb(160, 154, 228);
    float: inline-start;
    box-shadow: 0, 0.3, 0,0.3;

}
.container{
    min-height: 100vh;
    background-color:var(--light-bg);
    display:flex;
    align-items:center;
    justify-content:center;
    padding:20px;
}

.container .profile{
    padding:20px;
    background-color:var(--white);
    box-shadow:var(--box-shadow);
    text-align:center;
    width:400px;
    border-radius:5px;

}

.container .profile{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.container .profile img{
    height: 150px;
    width:150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}
.container .profile h3{
    margin:5px 0;
    font-size: 20px;
    color: var(--orange);
}
.container .profile p{
    margin-top: 20px;
    color:var(--black);
    font-size: 17px;
}
.container .profile p a{
    color: var(--red);
}

.container .profile p a hover{
    text-decoration: underline;

}

update_profile{
    min-height: 100vh;
    background-color:var(--light-bg);
    display:flex;
    align-items:center;
    justify-content:center;
    padding:20px;
}
.update-profile form{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}
.update-profile form img{
    height:200px;
    width: 200px;
    border-radius:50%;
    object-fit: cover;
    margin-bottom: 5px;
}
.update-profile form .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px;
}

.update-profile form .flex .inputBox{
    width:49%;
}

.update-profile form .flex .inputBox span{
    text-align: left;
    display: block;
    margin-top: 15px;
    font-size: 17px;
    color: var(--black);
}

.update-profile form .flex .inputBox .box{
    width: 100%;
    border-radius: 5px;
    background-color:  var(--light-bg);
    padding: 12px 14px;
    font-size: var(--black);
    margin-top: 10px;
}

@media (max-width:650px){
.update-profile form .flex{
    flex-wrap: wrap;
    gap:0;
}
}
.update-profile form .flex .inputBox{
    width: 100%;
}


 
.follow-button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: #f2961b;
    color:black;
    font-size: 16px;
    cursor: pointer;
  }
  
  .follow-button:hover {
    background-color: transparent;
    border:2px solid #f2961b;
  }